:root{
    --background:white;
    --background-surface-one:rgb(231, 231, 231);
    --foreground:black;
    --foreground-surface-one:grey;
    --accent-one:magenta;
    --accent-good: green;
    --accent-medium: orange;
    --accent-bad:red;
}